DEPLOYMENT_URL= https://erikogeek.github.io 
// https://your-docusaurus-site.example.com
DEPLOYMENT_BRANCH=main
BASE_URL=/MY-DSO-BLOG.git/
//dev-blog-template/
GITHUB_ORG= Erikogeek 
//spmse
GITHUB_PROJECT=MY-DSO-BLOG
//dev-blog-template